#dlbutton{
  position: absolute;
  top: 1px;
  left: 1px;
}        
        
        
         #removeboxlabel{
          position: absolute;
          top: 30px;
          left: 850px;
           }       
        #removebox{
          position: absolute;
          top: 50px;
          left: 850px;
          width: 160px;
           }
        
        #chartbylabel{
          position: absolute;
          top: 30px;
          left: 1040px;

           }       
        #chartby{
          position: absolute;
          top: 50px;
          left: 1040px;
          width: 160px;
          
           }
        
        
         #addboxlabel{

        }       
        #addbox{
          width: 800px;
        }

         #addplacelabel{
          position: absolute;
          top: 260px;
          left: 1040px;
        }       
        #addplace{
          position: absolute;
          top: 280px;
          left: 1040px;
          width: 160px;
        }    

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana,
 Arial, sans-serif; font-size: 12px; }